{% extends 'base.html' %}

{% block main %}
    <h1 class="text-info"> All BOOKS </h1>
    <table class="table">
        <tr>
            <th> TITLE</th>
<!--            <th> DESCRIPTION </th>-->
            <th> COVER</th>
            <th> SHOW </th>
        </tr>

        {% for book in books %}
            <tr>
                <td>{{book.title}}</td>
<!--                <td> {{book.description}}</td>-->
                <td> <img src="{{book.image_url}}" width="100" height="100"> </td>
                <td> <a href="{{book.show_url}}" class="btn btn-info">Show </a> </td>
            </tr>

        {% endfor %}



    </table>

   <div class="mb-3">
        <a href="{{ url_for('books.form_create') }}" class="btn btn-outline-info">Add New Book</a>
    </div>


{% endblock %}